.header {
    grid-area: h;
    background-color: #4872a3;
	border-radius:10px;
}

.header img {
    width: 20px;
}
.loginblock{
	float:right;
	padding:10px;
	color:#fff;
	
}

.loginblock a{
	color:#fff;
	text-decoration:none;
}
